doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="Jack Dunfey")
        title Results
        link(rel="stylesheet", href="/static/style.css")
        link(rel="stylesheet" href="/static/tooltip.css")
    body 
        a(href="/") Go back to search
        table(cellspacing="0")
            tr 
                th +
                th Event
                th Host
                th Location
                th(colspan=2) Starts At
            each event in events
                tr
                    td.btn= event.isFavorite ? "-" : "+"
                    td
                        span.tooltip= event.name
                            span.tooltiptext!= event.description
                    td= event.organizationName
                    td= event.location
                    -var d = new Date(event.startsOn)
                    -var t = d.toLocaleTimeString()
                    td(colspan=2)= d.toDateString().slice(0,-5) + " " + t.slice(0,t.lastIndexOf(":"))+t.slice(t.lastIndexOf(":")+3)
