doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Results
        link(rel="stylesheet", href="/static/style.css")
    body 
        a(href="/") Go back to search
        table 
            tr 
                th Course Code
                th Course Name 
                th Section
                th Course Days 
                th Course Room
                th Time
                th Status
            each match in matches
                tr
                    td= match.Course
                    td= match.Title
                    td= match.Section
                    td= match.Days 
                    td= match.Room
                    td= match.Time
                    if match.Status == "Open"
                        td.block.open
                    else if match.Status == "Closed"
                        td.block.closed
                    else 
                        td.block